.expense-date  {
    display: flex;
    flex: 20%;
    flex-direction: column;
    padding: 5px;
    margin: 1rem;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    
    box-shadow: 5px 10px 20px gray ;
    background-color: rgb(164, 159, 212);
}