.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .actions{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto 25rem;
  }

  .action_center{
    align-self: center;
  }

  .expense-form {
      display: flex;
      padding: 1rem;
      margin: 1rem;
      flex-direction: row;
      flex-wrap: wrap;
  }