.new_expense button {
  display: flex;
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    justify-content: flex-end;
flex:20%  }
  
  .new_expense button:hover,
  .new_expense button:active {
    background-color: #510674;
    border-color: #510674;
  }
  
  .new_expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new_expense button.alternative:hover,
  .new_expense button.alternative:active {
    background-color: #ddb3f8;
  }

  .new_expense {
    padding: 1rem;
    background-color: rgb(209, 161, 241);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  .add_expense_btn {
    display: flex;
    padding: 1rem;
    background-color: rgb(209, 161, 241);
    /* width: 50rem; */
    /* max-width: 95%; */
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-weight: bold;
  }